.fall-in {
  animation: fallIn 1s 1 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fallIn {
  0% {
    opacity: 0;
    color: var(--primary-font-color);
  }
  60% {
    transform: translate(0px, -50px) scale(1.2);
    opacity: 0;
    text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
    color: var(--secondary-font-color);
  }
}
