.blinking-cursor {
  width: 17px;
  height: 2px;
  background-color: var(--secondary-font-color);
  margin-top: 16px;
  border-radius: 2px;
}

@media screen and (max-width: 500px) {
  #blinking-cursor {
    width: 11px;
  }
}
