.navbar {
  flex-direction: row;
  align-items: center;
}

.navbar-gap {
  width: 5px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-gap {
    display: none;
  }
}
