.blinking-cursor {
  width: 17px;
  height: 4px;
  animation: blink 1.5s linear infinite;
  background-color: grey;
  margin-top: 12px;
}

@media screen and (max-width: 500px) {
  .blinking-cursor {
    width: 11px;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}
