@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

:root {
  font-family: "JetBrains Mono";
  --primary-font-color: white;
  --primary-font-color-darker: #a0a0a0;
  --secondary-font-color: #08fdd8;
  --primary-color: #1d1d1d;
  --primary-color-light-shade: #222222;
  --secondary-color: #515152;
}

body {
  /* https://stackoverflow.com/a/68359419/10951873 */
  position: fixed;
  height: 100%;
  background-color: var(--primary-color);
  margin: 0 8px;
  overflow-y: hidden;
  width: 100%;
}

a {
  color: var(--primary-font-color);
}

button {
  font-family: "Jetbrains Mono";
}

#__next {
  height: 100%;
}

.cursive {
  font-family: "La Belle Aurore", cursive;
}

.title {
  /* https://websemantics.uk/tools/responsive-font-calculator/ */
  /* 50 to 80px; */
  font-size: calc(3.125rem + ((1vw - 7.68px) * 2.6042));
  font-weight: 700;
  letter-spacing: 3px;
}

.subtitle {
  /* 24 to 40px */
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.3889));
  font-weight: 500;
  letter-spacing: 3px;
}

.text {
  /* 20 to 24px */
  font-size: calc(1.25rem + ((1vw - 7.68px) * 0.3472));
  font-weight: 500;
  letter-spacing: 1px;
}

.text-small {
  /* 16 to 20px */
  font-size: calc(1rem + ((1vw - 7.68px) * 0.3472));
}

.cursor-pointer {
  cursor: pointer;
}

.bg-primary {
  background-color: var(--primary-color);
}

.primary-font-color {
  color: var(--primary-font-color);
}

.secondary-font-color {
  color: var(--secondary-font-color) !important;
}

.primary-font-color-darker {
  color: var(--primary-font-color-darker);
}

.secondary {
  color: var(--secondary-color);
}

.text-shadow {
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

.right-corner {
  transform: rotate(90deg);
  right: 0px;
  bottom: 7%;
}

@media screen and (max-width: 900px) {
  .right-corner-button,
  .right-corner-line {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /*20 to 50px */
  .title {
    font-size: calc(1.25rem + ((1vw - 3px) * 6.4103));
  }

  /* 14 to 25px */
  .subtitle {
    font-size: calc(0.875rem + ((1vw - 0.01px) * 1.4342));
  }

  /* 16 to 20px */
  .text {
    font-size: calc(1rem + ((1vw - 3px) * 0.8547));
  }
}

.h-100 {
  height: 100vh;
}

.h-100p {
  height: 100%;
}

.mh-100p {
  min-height: 100%;
}

.w-fc {
  width: fit-content;
}

.w-100p {
  width: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
}

.margin-left {
  margin-left: 3%;
}

.margin-top-2p {
  margin-top: 2%;
}

.margin-bottom-2p {
  margin-bottom: 2%;
}

.margin-right {
  margin-right: 3%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.text-decoration-none {
  text-decoration: none;
}

.border-none {
  border: none;
}

.white-space-nowrap {
  white-space: nowrap;
}

.outline-none {
  outline: none;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.border-radius-5 {
  border-radius: 5%;
}

.cursor-pointer {
  cursor: pointer;
}

.button-effect {
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.button-effect:hover {
  color: var(--secondary-font-color);
  scale: 1.1;
}

.d-block {
  display: block;
}

.gap-2px {
  gap: 2px;
}
