@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");

:root {
  font-family: "JetBrains Mono", monospace;
  --primary-font-color: white;
  --secondary-font-color: #08fdd8;
  --primary-color: #1d1d1d;
  --secondary-color: #515152;
}

body {
  background-color: var(--primary-color);
  margin: 0 8px;
}

.cursive {
  font-family: "La Belle Aurore", cursive;
}

.title {
  /* https://websemantics.uk/tools/responsive-font-calculator/ */
  /* 50 to 80px; */
  font-size: calc(3.125rem + ((1vw - 7.68px) * 2.6042));
  font-weight: 700;
  letter-spacing: 3px;
}

.subtitle {
  /* 24 to 40px */
  font-size: calc(1.5rem + ((1vw - 7.68px) * 1.3889));
  font-weight: 500;
  letter-spacing: 3px;
}

.text {
  /* 20 to 24px */
  font-size: calc(1.25rem + ((1vw - 7.68px) * 0.3472));
  font-weight: 500;
  letter-spacing: 1px;
}

.text-small {
  /* 16 to 20px */
  font-size: calc(1rem + ((1vw - 7.68px) * 0.3472));
}

.primary-font-color {
  color: var(--primary-font-color);
}

.secondary-font-color {
  color: var(--secondary-font-color);
}

.secondary {
  color: var(--secondary-color);
}

.text-shadow {
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  /*20 to 50px */
  .title {
    font-size: calc(1.25rem + ((1vw - 3px) * 6.4103));
  }

  /* 14 to 25px */
  .subtitle {
    font-size: calc(0.875rem + ((1vw - 0.01px) * 1.4342));
  }

  /* 16 to 20px */
  .text {
    font-size: calc(1rem + ((1vw - 3px) * 0.8547));
  }
}

.h-100 {
  height: 100vh;
}

.mh-100 {
  min-height: 100vh;
}

.margin-left {
  margin-left: 3%;
}

.margin-right {
  margin-right: 3%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.position-absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.top-0 {
  top: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.border-none {
  border: none;
}

.bg-transparent {
  background-color: transparent;
}

.white-space-nowrap {
  white-space: nowrap;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.border-radius-5 {
  border-radius: 5%;
}

.white-space-preline {
  white-space: pre-line;
}

.text-align-justify {
  text-align: justify;
}
