.mobile__resume__block {
  display: none;
}

.tagline {
  gap: 0.6rem;
}

.name {
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .mobile__resume__block {
    display: block;
    margin-top: 50px;
  }
}
