.mobile-resume-block {
  display: none;
}

.about {
  flex-direction: row;
  align-items: center;
}

.about img {
  width: calc(12.5rem + ((1vw - 9px) * 19.6078));
  height: auto;
  margin: 10px 0;
  filter: sepia(1);
  transition: 0.1s;
}

.about img:hover,
.about-picture-clicked {
  filter: sepia(0) !important;
}

.about-text {
  max-width: 50%;
}

.about-picture {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
}

.experience {
  flex-direction: row;
}

.experience-container {
  width: 50%;
}

.experience-selection-button-container {
  flex-direction: column;
}

.experience-selection-button {
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .mobile-resume-block {
    display: block;
    margin-top: 50px;
  }

  .about {
    flex-direction: column;
    align-items: flex-start;
  }

  .about img {
    width: calc(9.375rem + ((1vw - 3px) * 8.3333));
  }

  .about-text {
    max-width: 85%;
  }

  .about-picture {
    margin-left: 0;
  }

  .experience {
    flex-direction: column !important;
  }

  .experience-container {
    margin-top: 50px;
    width: 90% !important;
  }

  .experience-selection-button-container {
    flex-direction: row;
    overflow-x: auto;
  }

  .experience-selection-button {
    flex-direction: column;
    align-items: start;
    margin-right: 10px;
  }
}

/* Contact Page  */
.contact-page-form input:focus {
  color: transparent;
  text-shadow: 0 0 0 var(--secondary-font-color);
}

.contact-page-form input::placeholder {
  color: var(--primary-font-color);
}

/* projects page */
.projects-container {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
}

@media screen and (max-width: 440px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .project-description {
    word-break: break-word;
  }
}

@media screen and (max-width: 335px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  .project-section-container {
    margin-left: 0;
  }
}

.project-card {
  padding: 5px 10px;
  background-color: var(--primary-color-light-shade);
  border-radius: 5px;
  transition: all 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .social-buttons {
    width: calc(2.125rem + ((1vw - 3px) * 1.2848));
    height: auto;
  }
}

.project-tech-topics {
  list-style: none;
  padding: inherit;
  gap: 10px;
  flex-wrap: wrap;
}

.empty-project-card {
  height: 240px;
}

.empty-project-card div {
  margin: 10px 0;
  margin-left: 20px;
  height: 20px;
  margin: 10px 0;
  margin-left: 20px;
  border-radius: 20px;
}

.empty-project-card div:nth-child(1) {
  width: 130px;
}

.empty-project-card div:nth-child(2) {
  width: 260px;
}

.empty-project-card div:nth-child(3) {
  width: 180px;
}

.empty-project-card div:nth-child(4) {
  width: 320px;
}

.empty-project-card * {
  background: linear-gradient(
    120deg,
    #3f3f3f 30%,
    #535353 38%,
    #555555 40%,
    #2d2d2d 48%
  );
  background-size: 300%;
  background-position: 100% 0;
  animation: shimer 1.5s infinite;
}
@keyframes shimer {
  to {
    background-position: -100% 0;
  }
}
