.about {
  flex-direction: row;
  align-items: center;
}

.about img {
  width: calc(12.5rem + ((1vw - 9px) * 19.6078));
  height: auto;
  margin: 10px 0;
  filter: sepia(1);
  transition: 0.1s;
}

.about img:hover,
.about-picture-clicked {
  filter: sepia(0) !important;
}

.about-text {
  max-width: 50%;
}

.about-picture {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
}

.experience {
  flex-direction: row;
}

.experience-container {
  width: 50%;
}

.experience-selection-button-container {
  flex-direction: column;
}

.experience-selection-button {
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .about {
    flex-direction: column;
    align-items: flex-start;
  }

  .about img {
    width: calc(9.375rem + ((1vw - 3px) * 8.3333));
  }

  .about-text {
    max-width: 85%;
  }

  .about-picture {
    margin-left: 0;
  }

  .experience {
    flex-direction: column !important;
  }

  .experience-container {
    margin-top: 50px;
    width: 90% !important;
  }

  .experience-selection-button-container {
    flex-direction: row;
    overflow-x: auto;
  }

  .experience-selection-button {
    flex-direction: column;
    align-items: start;
    margin-right: 10px;
  }
}

/* Contact Page  */
.contact-page-form input:focus {
  color: transparent;
  text-shadow: 0 0 0 var(--secondary-font-color);
}

.contact-page-form input::placeholder {
  color: var(--primary-font-color);
}
